#wrapper {
    float: left;
    margin: auto;
    padding: 0 10px;
    background: black;
    border-radius: 10px;
}
h1 {
    color: #f3c408;
    text-align: center;
}
iframe {
    /*Border is positioned incorrectly in firefox, try chrome instead.*/
    border: 1px solid #f3c408;
    width: 180px;
    height: 135px;
    margin: 0 10px;
}
nav {
    display: inline-block;
    vertical-align: top;
}
a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-style: italic;
}