html{
    font-size: 16px;
}
header {
    font-family: "Segoe UI";
    width: 100%;
}
h1 {
    margin-bottom: 3rem;
}
ul li {
    display: inline-block;
}
ul li a {
    display: inline-block;
    width: 8rem;
    text-decoration: none;
    color: grey;
}
li.search, button.submit {
    background-color: #f7f7f7;
    display: inline-block;
    float: right;
    border: 1px solid #ddd;
}
input, button.submit {
    background: #f7f7f7;
    border: none;
}
input.text{
    width: 160px;
    height: 24px;
    vertical-align: top;
    padding-left: 16px;
}
.submit{
    margin-top: 2px;
}
hr {
    color: #e9e9e9;
}